# Removing Outliers:

In [1]:
import seaborn as sns
import pandas as pd

In [2]:
# Load the titanic dataset
titanic = sns.load_dataset('titanic')

In [3]:
# Display the first 5 rows of the dataset
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [10]:
# Calculate the IQR for 'age' column:
Q1 = titanic['age'].quantile(0.25)
Q3 = titanic['age'].quantile(0.75)
IQR = Q3 - Q1

In [14]:
# Define bounds for outliers:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers_age = titanic[(titanic['age'] < lower_bound) | (titanic['age'] > upper_bound)]
print(outliers_age)

     survived  pclass   sex   age  sibsp  parch     fare embarked   class  \
33          0       2  male  66.0      0      0  10.5000        S  Second
54          0       1  male  65.0      0      1  61.9792        C   First
96          0       1  male  71.0      0      0  34.6542        C   First
116         0       3  male  70.5      0      0   7.7500        Q   Third
280         0       3  male  65.0      0      0   7.7500        Q   Third
456         0       1  male  65.0      0      0  26.5500        S   First
493         0       1  male  71.0      0      0  49.5042        C   First
630         1       1  male  80.0      0      0  30.0000        S   First
672         0       2  male  70.0      0      0  10.5000        S  Second
745         0       1  male  70.0      1      1  71.0000        S   First
851         0       3  male  74.0      0      0   7.7750        S   Third

     who  adult_male deck  embark_town alive  alone
33   man        True  NaN  Southampton    no   True
54   man        True    B    Cherbourg    no  False
96   man        True    A    Cherbourg    no   True
116  man        True  NaN   Queenstown    no   True
280  man        True  NaN   Queenstown    no   True
456  man        True    E  Southampton    no   True
493  man        True  NaN    Cherbourg    no   True
630  man        True    A  Southampton   yes   True
672  man        True  NaN  Southampton    no   True
745  man        True    B  Southampton    no  False
851  man        True  NaN  Southampton    no   True

In [12]:
# Remove outliers:
titanic_no_outliers = titanic[(titanic['age'] >= lower_bound) & (titanic['age'] <= upper_bound)]

In [13]:
# Display the first 5 rows of the dataset after removing outliers
print(titanic_no_outliers.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True